<h1>New content</h1>

<%= form_for(@content ,:url => chronicle_contents_path(:chronicle_id => @chronicle, :page => @page)) do |f| %>
  <%= f.error_messages if 1== 0 %>
  <p class="mailing_subject">Language : <%= language_name(params[:language_id]) %></p>
  <p>
    <%= hidden_field_tag :lang, language_name(params[:language_id]) %>
    <%= f.label :title %><br />
    <%= f.text_field :title, :size=>'85'%>
  </p>
  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle, :size=>'85'%>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.cktext_area :description, :toolbar => 'Full', :width => 1000, :height => 400 %>
  </p>
  <p>
    <%= f.label :full_description %><br />
    <%= f.cktext_area :full_description, :toolbar => 'Full', :width => 1000, :height => 400 %>
  </p>
  <p id="translation_p">
	<%= f.hidden_field :language_id, :value => params[:language_id] %>
	<%= f.submit 'Create' %> - <%= link_to 'Back', chronicles_path %>
  </p>

<% end %>

