<tr class='table_height <%= cycle('blanc', 'gris') %>'>
	<td class="id_mail" ><%= chronicle.id %></td>
 	<td><%= link_to chronicle.name, chronicle_contents_path(:chronicle_id => chronicle) %> </td>
 	<td><%= chronicle.rating %></td>
 	<td><%= chronicle.imdb_id %></td>
 	<td><%= chronicle.category.name if chronicle.category %></td>
	<td align='center'><%= link_to 'Edit', edit_chronicle_path(chronicle,:page=>@page) %></td>
	<td align='center'><%= link_to image_tag("trash.png", :border=> 0 ), chronicle_path(chronicle, :page => @page), :confirm => 'Are you sure?', :method => :delete %> </td>
	<td> <%= chronicle_contents_link(chronicle)%> </td>
</tr>